apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: github-runners
  namespace: argocd
spec:
  generators:
  - list:
      elements:
      # Org-level runner serves all repositories (project-beta, project-beta-api, project-beta-frontend)
      - name: arc-runners
        namespace: arc-runners
        valuesFile: examples/runners-values.yaml
        repo: Matchpoint-AI
  template:
    metadata:
      name: '{{name}}'
    spec:
      project: default
      source:
        repoURL: https://github.com/Matchpoint-AI/matchpoint-github-runners-helm
        targetRevision: main
        path: charts/github-actions-runners
        helm:
          releaseName: '{{name}}'
          valueFiles:
            - '../../{{valuesFile}}'
          parameters:
            - name: gha-runner-scale-set.githubConfigSecret.github_token
              value: "$ARGOCD_ENV_GITHUB_TOKEN"
      destination:
        server: https://kubernetes.default.svc
        namespace: '{{namespace}}'
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
          allowEmpty: false
        syncOptions:
          - CreateNamespace=true
          - ServerSideApply=true
        retry:
          limit: 5
          backoff:
            duration: 5s
            factor: 2
            maxDuration: 3m
      revisionHistoryLimit: 10